

*{
  margin: 0 auto;
    box-sizing: border-box;
}
  
body{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: #f0efef;


  }
  h2{
    font-size: 40px;
    font-weight: 700;
  }

.logo{
  font-size: 48px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}
header .logo{
  color: #fff;
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}
  header{
    height: 120px;
    background: #053049;
  }


nav{
    float: right;
    padding: 10px;
    margin-right: 100px;
  }
nav ul{
  float: left;
  padding: 0;
} 
ul{
  list-style: none;
  margin: 0;
  border: 0;
}
nav ul li{
  float: left;
  margin: 0 0 0 0;
  padding: 35px 18px 35px 18px;
  text-align: left;
  font-size: 24px;
  color: #f9e42e;
}

nav ul li a{
  float: left;
  margin: 0 0 0 0;
  color: #f9e42e;
}



section{
    height: 2000px;
    width: 700px;
    float: left;  
  }

  img{
    padding: 60px 0;
  }

  article{
    width: 700px;
    float: left;
    margin-left: 4%;
    margin-top: 87px;
    font-family: 'Open Sans', sans-serif;
    
  }
  
  aside.right{
    width: 240px;
    float: left;
    margin-left: 70px;
    margin-top: 78px;
  }

  a{
    color: #033048;
    text-decoration: none;
  }

a:hover {
    color: #f9e42e;
}

  p.article::first-letter {
  font-size: 72px;
  float: left;
  padding: 5px;
  height: 64px;
  font-weight: 600;
  margin-right: 5px;
  color: #606161;
  line-height: 70px;
}

  hr.style1{
  border-top: 1px solid #8c8b8b;
  margin-top: 117px;
  width: 700px;
}

  .button{
    border-radius: 5px;
    font-weight: 800;
    padding: 12px 0;
    width: 280px;
    font-size: 28px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

  #cta{
    background: #f9e42e;
    padding: 30px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    float: left;
    
  }
  .blue{
    background: #033048;
    color: #fff;
    font-size: 24px;
  }

  .categories{
    font-size: 24px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
  }

  h2{
    color: #033048;
    font-size: 40px;
    font-weight: 400;
  }
  h3{
    font-size: 32px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 0;
    color: #033048;
  }
  article.read{
    margin-top: 30px;
    font-size: 24px;

  }
  div a{
    font-size: 24px;
    font-weight: 600;
    float: right;
    margin-top: 15px;   
  }




  .Learn{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    float: left;
  }


  h4.logo{
    color: #f9e42e;
    margin-bottom: 68px;
    margin-left: 40px;
    margin-top: 20px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    
  }
  footer ul li{
    display: inline-block;
    margin: 0 26px 50px;

  }


  footer{
    font-size: 18px;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    clear: both;
    float: left;
    background:#121212;
    padding: 65px 0 45px;
    text-align: center;
    height: 500px;
    width: 100%;
  }

